/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Oswald);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 1em; }

body {
  background-color: white;
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2; }

h1 {
  margin-top: 0;
  font-size: 3.998em; }

h2 {
  font-size: 2.827em; }

h3 {
  font-size: 1.999em; }

h4 {
  font-size: 1.414em; }

small, .font_small {
  font-size: 0.707em; }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*!
normalize.css v^3.0 | MIT License | git.io/normalize
Copyright (c) Nicolas Gallagher and Jonathan Neal
*/
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

.hidden, [hidden] {
  display: none !important; }

.pure-img {
  max-width: 100%;
  height: auto;
  display: block; }

.pure-g {
  letter-spacing: -.31em;
  *letter-spacing: normal;
  *word-spacing: -.43em;
  text-rendering: optimizespeed;
  font-family: FreeSans,Arimo,"Droid Sans",Helvetica,Arial,sans-serif;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: -ms-flexbox;
  -ms-flex-flow: row wrap;
  -ms-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start; }

.opera-only :-o-prefocus, .pure-g {
  word-spacing: -.43em; }

.pure-u {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-g [class*="pure-u"] {
  font-family: sans-serif; }

.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%; }

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%; }

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5%;
  *width: 12.469%; }

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%; }

.pure-u-1-5 {
  width: 20%;
  *width: 19.969%; }

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%; }

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.969%; }

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%; }

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%; }

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5%;
  *width: 37.469%; }

.pure-u-2-5 {
  width: 40%;
  *width: 39.969%; }

.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%; }

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%; }

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.969%; }

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%; }

.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%; }

.pure-u-3-5 {
  width: 60%;
  *width: 59.969%; }

.pure-u-5-8, .pure-u-15-24 {
  width: 62.5%;
  *width: 62.469%; }

.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%; }

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%; }

.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.969%; }

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%; }

.pure-u-4-5 {
  width: 80%;
  *width: 79.969%; }

.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%; }

.pure-u-7-8, .pure-u-21-24 {
  width: 87.5%;
  *width: 87.469%; }

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%; }

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%; }

.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%; }

.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: 0 transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.pure-button-hover, .pure-button:hover, .pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.pure-button:focus {
  outline: 0; }

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active {
  border: 0;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none; }

.pure-button-hidden {
  display: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff; }

.pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  box-sizing: border-box; }

.pure-form input:not([type]) {
  padding: 0.5em 0.6em;
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  box-sizing: border-box; }

.pure-form input[type=color] {
  padding: 0.2em 0.5em; }

.pure-form input[type=text]:focus, .pure-form input[type=password]:focus, .pure-form input[type=email]:focus, .pure-form input[type=url]:focus, .pure-form input[type=date]:focus, .pure-form input[type=month]:focus, .pure-form input[type=time]:focus, .pure-form input[type=datetime]:focus, .pure-form input[type=datetime-local]:focus, .pure-form input[type=week]:focus, .pure-form input[type=number]:focus, .pure-form input[type=search]:focus, .pure-form input[type=tel]:focus, .pure-form input[type=color]:focus, .pure-form select:focus, .pure-form textarea:focus {
  outline: 0;
  border-color: #129FEA; }

.pure-form input:not([type]):focus {
  outline: 0;
  border-color: #129FEA; }

.pure-form input[type=file]:focus, .pure-form input[type=radio]:focus, .pure-form input[type=checkbox]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA; }

.pure-form .pure-checkbox, .pure-form .pure-radio {
  margin: .5em 0;
  display: block; }

.pure-form input[type=text][disabled], .pure-form input[type=password][disabled], .pure-form input[type=email][disabled], .pure-form input[type=url][disabled], .pure-form input[type=date][disabled], .pure-form input[type=month][disabled], .pure-form input[type=time][disabled], .pure-form input[type=datetime][disabled], .pure-form input[type=datetime-local][disabled], .pure-form input[type=week][disabled], .pure-form input[type=number][disabled], .pure-form input[type=search][disabled], .pure-form input[type=tel][disabled], .pure-form input[type=color][disabled], .pure-form select[disabled], .pure-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.pure-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3; }

.pure-form input[readonly], .pure-form select[readonly], .pure-form textarea[readonly] {
  background-color: #eee;
  color: #777;
  border-color: #ccc; }

.pure-form input:focus:invalid, .pure-form textarea:focus:invalid, .pure-form select:focus:invalid {
  color: #b94a48;
  border-color: #e9322d; }

.pure-form input[type=file]:focus:invalid:focus, .pure-form input[type=radio]:focus:invalid:focus, .pure-form input[type=checkbox]:focus:invalid:focus {
  outline-color: #e9322d; }

.pure-form select {
  height: 2.25em;
  border: 1px solid #ccc;
  background-color: #fff; }

.pure-form select[multiple] {
  height: auto; }

.pure-form label {
  margin: 0.5em 0 0.2em; }

.pure-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0; }

.pure-form legend {
  display: block;
  width: 100%;
  padding: .3em 0;
  margin-bottom: .3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }

.pure-form-stacked input[type=text], .pure-form-stacked input[type=password], .pure-form-stacked input[type=email], .pure-form-stacked input[type=url], .pure-form-stacked input[type=date], .pure-form-stacked input[type=month], .pure-form-stacked input[type=time], .pure-form-stacked input[type=datetime], .pure-form-stacked input[type=datetime-local], .pure-form-stacked input[type=week], .pure-form-stacked input[type=number], .pure-form-stacked input[type=search], .pure-form-stacked input[type=tel], .pure-form-stacked input[type=color], .pure-form-stacked input[type=file], .pure-form-stacked select, .pure-form-stacked label, .pure-form-stacked textarea {
  display: block;
  margin: .25em 0; }

.pure-form-stacked input:not([type]) {
  display: block;
  margin: .25em 0; }

.pure-form-aligned input, .pure-form-aligned textarea, .pure-form-aligned select, .pure-form-aligned .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.pure-form-aligned textarea {
  vertical-align: top; }

.pure-form-aligned .pure-control-group {
  margin-bottom: .5em; }

.pure-form-aligned .pure-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0; }

.pure-form-aligned .pure-controls {
  margin: 1.5em 0 0 11em; }

.pure-form input.pure-input-rounded, .pure-form .pure-input-rounded {
  border-radius: 2em;
  padding: 0.5em 1em; }

.pure-form .pure-group fieldset {
  margin-bottom: 10px; }

.pure-form .pure-group input, .pure-form .pure-group textarea {
  display: block;
  padding: 10px;
  margin: 0 0 -1px;
  border-radius: 0;
  position: relative;
  top: -1px; }

.pure-form .pure-group input:focus, .pure-form .pure-group textarea:focus {
  z-index: 3; }

.pure-form .pure-group input:first-child, .pure-form .pure-group textarea:first-child {
  top: 1px;
  border-radius: 4px 4px 0 0;
  margin: 0; }

.pure-form .pure-group input:first-child:last-child, .pure-form .pure-group textarea:first-child:last-child {
  top: 1px;
  border-radius: 4px;
  margin: 0; }

.pure-form .pure-group input:last-child, .pure-form .pure-group textarea:last-child {
  top: -2px;
  border-radius: 0 0 4px 4px;
  margin: 0; }

.pure-form .pure-group button {
  margin: .35em 0; }

.pure-form .pure-input-1 {
  width: 100%; }

.pure-form .pure-input-2-3 {
  width: 66%; }

.pure-form .pure-input-1-2 {
  width: 50%; }

.pure-form .pure-input-1-3 {
  width: 33%; }

.pure-form .pure-input-1-4 {
  width: 25%; }

.pure-form .pure-help-inline, .pure-form-message-inline {
  display: inline-block;
  padding-left: .3em;
  color: #666;
  vertical-align: middle;
  font-size: .875em; }

.pure-form-message {
  display: block;
  color: #666;
  font-size: .875em; }

@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: .7em 0 0; }
  .pure-form input:not([type]), .pure-form input[type=text], .pure-form input[type=password], .pure-form input[type=email], .pure-form input[type=url], .pure-form input[type=date], .pure-form input[type=month], .pure-form input[type=time], .pure-form input[type=datetime], .pure-form input[type=datetime-local], .pure-form input[type=week], .pure-form input[type=number], .pure-form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form label {
    margin-bottom: .3em;
    display: block; }
  .pure-group input:not([type]), .pure-group input[type=text], .pure-group input[type=password], .pure-group input[type=email], .pure-group input[type=url], .pure-group input[type=date], .pure-group input[type=month], .pure-group input[type=time], .pure-group input[type=datetime], .pure-group input[type=datetime-local], .pure-group input[type=week], .pure-group input[type=number], .pure-group input[type=search], .pure-group input[type=tel], .pure-group input[type=color] {
    margin-bottom: 0; }
  .pure-form-aligned .pure-control-group label {
    margin-bottom: .3em;
    text-align: left;
    display: block;
    width: 100%; }
  .pure-form-aligned .pure-controls {
    margin: 1.5em 0 0; }
  .pure-form .pure-help-inline, .pure-form-message-inline, .pure-form-message {
    display: block;
    font-size: .75em;
    padding: 0.2em 0 0.8em; } }

.pure-menu {
  box-sizing: border-box; }

.pure-menu-fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3; }

.pure-menu-list, .pure-menu-item {
  position: relative; }

.pure-menu-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.pure-menu-item {
  padding: 0;
  margin: 0;
  height: 100%; }

.pure-menu-link, .pure-menu-heading {
  display: block;
  text-decoration: none;
  white-space: nowrap; }

.pure-menu-horizontal {
  width: 100%;
  white-space: nowrap; }

.pure-menu-horizontal .pure-menu-list {
  display: inline-block; }

.pure-menu-horizontal .pure-menu-item, .pure-menu-horizontal .pure-menu-heading, .pure-menu-horizontal .pure-menu-separator {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle; }

.pure-menu-item .pure-menu-item {
  display: block; }

.pure-menu-children {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 3; }

.pure-menu-horizontal .pure-menu-children {
  left: 0;
  top: auto;
  width: inherit; }

.pure-menu-allow-hover:hover > .pure-menu-children, .pure-menu-active > .pure-menu-children {
  display: block;
  position: absolute; }

.pure-menu-has-children > .pure-menu-link:after {
  padding-left: .5em;
  content: "\25B8";
  font-size: small; }

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link:after {
  content: "\25BE"; }

.pure-menu-scrollable {
  overflow-y: scroll;
  overflow-x: hidden; }

.pure-menu-scrollable .pure-menu-list {
  display: block; }

.pure-menu-horizontal.pure-menu-scrollable .pure-menu-list {
  display: inline-block; }

.pure-menu-horizontal.pure-menu-scrollable {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding: .5em 0; }

.pure-menu-horizontal.pure-menu-scrollable::-webkit-scrollbar {
  display: none; }

.pure-menu-separator {
  background-color: #ccc;
  height: 1px;
  margin: .3em 0; }

.pure-menu-horizontal .pure-menu-separator {
  width: 1px;
  height: 1.3em;
  margin: 0 0.3em; }

.pure-menu-heading {
  text-transform: uppercase;
  color: #565d64; }

.pure-menu-link {
  color: #777; }

.pure-menu-children {
  background-color: #fff; }

.pure-menu-link, .pure-menu-disabled, .pure-menu-heading {
  padding: 0.5em 1em; }

.pure-menu-disabled {
  opacity: .5; }

.pure-menu-disabled .pure-menu-link:hover {
  background-color: transparent; }

.pure-menu-active > .pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
  background-color: #eee; }

.pure-menu-selected .pure-menu-link, .pure-menu-selected .pure-menu-link:visited {
  color: #000; }

.pure-table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb; }

.pure-table caption {
  color: #000;
  font: italic 85%/1 arial,sans-serif;
  padding: 1em 0;
  text-align: center; }

.pure-table td, .pure-table th {
  border-left: 1px solid #cbcbcb;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em; }

.pure-table td:first-child, .pure-table th:first-child {
  border-left-width: 0; }

.pure-table thead {
  background-color: #e0e0e0;
  color: #000;
  text-align: left;
  vertical-align: bottom; }

.pure-table td {
  background-color: transparent; }

.pure-table-odd td {
  background-color: #f2f2f2; }

.pure-table-striped tr:nth-child(2n-1) td {
  background-color: #f2f2f2; }

.pure-table-bordered td {
  border-bottom: 1px solid #cbcbcb; }

.pure-table-bordered tbody > tr:last-child > td {
  border-bottom-width: 0; }

.pure-table-horizontal td, .pure-table-horizontal th {
  border-width: 0 0 1px;
  border-bottom: 1px solid #cbcbcb; }

.pure-table-horizontal tbody > tr:last-child > td {
  border-bottom-width: 0; }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-sm-5-12, .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-sm-7-12, .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-sm-5-8, .pure-u-sm-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-sm-2-3, .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-sm-3-4, .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-sm-5-6, .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-sm-7-8, .pure-u-sm-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
    width: 100%; } }

@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-md-5-12, .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-md-7-12, .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-md-5-8, .pure-u-md-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-md-2-3, .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-md-3-4, .pure-u-md-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-md-5-6, .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-md-7-8, .pure-u-md-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
    width: 100%; } }

@media screen and (min-width: 64em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-lg-5-12, .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-lg-7-12, .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-lg-5-8, .pure-u-lg-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-lg-2-3, .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-lg-3-4, .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-lg-5-6, .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-lg-7-8, .pure-u-lg-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
    width: 100%; } }

@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto; }
  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%; }
  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%; }
  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5%;
    *width: 12.469%; }
  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%; }
  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.969%; }
  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%; }
  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.969%; }
  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%; }
  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%; }
  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5%;
    *width: 37.469%; }
  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.969%; }
  .pure-u-xl-5-12, .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%; }
  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%; }
  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.969%; }
  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%; }
  .pure-u-xl-7-12, .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%; }
  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.969%; }
  .pure-u-xl-5-8, .pure-u-xl-15-24 {
    width: 62.5%;
    *width: 62.469%; }
  .pure-u-xl-2-3, .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%; }
  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%; }
  .pure-u-xl-3-4, .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.969%; }
  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%; }
  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.969%; }
  .pure-u-xl-5-6, .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%; }
  .pure-u-xl-7-8, .pure-u-xl-21-24 {
    width: 87.5%;
    *width: 87.469%; }
  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%; }
  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%; }
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
    width: 100%; } }

/*!
Pure v0.6.0
Copyright 2014 Yahoo! Inc. All rights reserved.
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
.pure-button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: #444;
  color: rgba(0, 0, 0, 0.8);
  border: 1px solid #999;
  border: 0 transparent;
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 2px; }

.pure-button-hover, .pure-button:hover, .pure-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.pure-button:focus {
  outline: 0; }

.pure-button-active, .pure-button:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.pure-button[disabled], .pure-button-disabled, .pure-button-disabled:hover, .pure-button-disabled:focus, .pure-button-disabled:active {
  border: 0;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  filter: alpha(opacity=40);
  -khtml-opacity: .4;
  -moz-opacity: .4;
  opacity: .4;
  cursor: not-allowed;
  box-shadow: none; }

.pure-button-hidden {
  display: none; }

.pure-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.pure-button-primary, .pure-button-selected, a.pure-button-primary, a.pure-button-selected {
  background-color: #0078e7;
  color: #fff; }

#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  box-sizing: border-box; }

#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

#cssmenu #menu-button {
  display: none; }

#cssmenu {
  position: fixed;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid #fd8a17;
  border-radius: 3px;
  font-family: 'Oswald', sans-serif;
  line-height: 1;
  background: #f7f7f7;
  /*box-shadow: 1px 1px 0 #df7002, 2px 2px 0 #df7002, 3px 3px 3px rgba(0, 0, 0, 0.35);*/ }

#cssmenu > ul {
  background: url("../img/bg.png"); }

#cssmenu > ul > li {
  float: left; }

#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center; }

#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none; }

#cssmenu.align-right > ul > li {
  float: right; }

#cssmenu > ul > li > a {
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  transition: all 0.2s ease; }

#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a {
  color: #444444; }

#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #fd8a17;
  transition: all 0.25s ease-out; }

#cssmenu.small-screen {
  width: 100%; }

#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left; }

#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1); }

#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px; }

#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none; }

#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fd8a17;
  background: url("../img/bg.png"); }

#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444; }

#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  box-sizing: content-box;
  border-top: 2px solid #fd8a17;
  border-bottom: 2px solid #fd8a17;
  width: 18px;
  height: 3px; }

#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444; }

#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #fd8a17; }

#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444; }

#cssmenu.small-screen #menu-indicator {
  display: none; }

.hero-container {
  height: 425px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/screen-print-opt.jpg");
  background-size: cover;
  visibility: hidden; }

.logo {
  max-width: 50px; }

.hero-title, .hero-description {
  text-align: center;
  color: white;
  margin: 0em; }

.hero-title {
  padding-top: 1.7em;
  padding-bottom: 0.5em;
  margin: 0;
  font-size: 4em;
  font-family: 'Fredericka the Great', cursive; }

.hero-description {
  font-size: 1.5em; }

.hero-contact {
  color: whitesmoke; }

.flow-container {
  background: url("../img/bg.png");
  padding-top: 2em;
  padding-bottom: 2em;
  color: black; }

.flow {
  padding: 2em; }

.flow i {
  text-align: center;
  font-size: 3em;
  width: 100%; }

.products-container {
  border-top: solid 1px #B8C4CC;
  border-bottom: solid 1px #B8C4CC;
  text-align: center;
  padding-bottom: 4em;
  padding-top: 1em; }

.product-list {
  padding-left: 6em;
  text-align: left;
  list-style: none; }

.about-container {
  background: url("../img/bg.png");
  padding-top: 2em;
  padding-bottom: 4em;
  padding-left: 4em;
  padding-right: 4em; }

.subtitle {
  text-align: center; }

@media screen and (max-width: 600px) {
  .hero-title {
    padding-top: 0.5em; }
  .hero-description {
    font-size: 1.3em; } }

.sublimation-container {
  padding: 1em; }

.sublimation-product {
  padding: 1em; }

.apparel-selection-container {
  text-align: center; }

.apparel-selection-container > a {
  color: black;
  font-size: 1.5em;
  margin: 0.5em;
  border-radius: 0.4em; }

.apparel-selection {
  padding: 2em; }

#colorSwatchItem {
  text-align: center;
  margin: 0 auto; }

#colorSwatchImg > img {
  max-width: 175px; }

* {
  box-sizing: border-box; }

.pure-g [class*="pure-u"] {
  font-family: 'Century Gothic', sans-serif; }

body, p, h1, h2, li {
  font-family: 'Century Gothic', sans-serif; }

.banner-image-container {
  visibility: hidden; }

h3 {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

p {
  margin-bottom: 0.5em; }

.main-content {
  padding-top: 3em; }

.fa-bars {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1em; }

.banner-image-container {
  padding: 0em; }

.banner-image {
  width: 100%;
  padding: 1.5em;
  min-height: 200px; }

.slick-prev:before, .slick-next:before {
  color: black;
  font-size: 30px; }

.slick-prev {
  left: 0px; }

.slick-next {
  right: 10px; }

.slick-dots {
  bottom: -30px; }
