<h2 class="subtitle pure-u-1">Pricing</h2>
<div class="pricing-container">
<h3 class="subtitle pure-u-1">Under construction, more details coming soon...</h3>
<div class="pure-u-1">
  <p>Pricing varies based on garment, styles, the number of colors, and how many locations you are printing on. 
    <a class="quote" href="contact.html">Click here to get a quote.</a></p>

</div>
</div>

    <!--Google Analytics script for tracking-->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72551353-1', 'auto');
        ga('send', 'pageview');

      </script>
      
      <!--End Google Analytics-->