<div class = "banner-image-container">
  <img class = "banner-image" src = "img/100-2293a.jpg">
  <img class = "banner-image" src = "img/100-3033.jpg">
  <img class = "banner-image" src = "img/tie-dye.jpg">
</div>
<div class="pure-g">
  <div class="brands pure-u-1 pure-u-md-1-2">
    <h3>Brands</h3>
    <li>Gildan</li>
    <li>American Apparel</li>
    <li>Hanes</li>
    <li>Jersey</li>
  </div>
  <div class="apparel-list pure-u-1 pure-u-md-1-2">
    <h3>Styles</h3>
    <li>100% Tees</li>
    <li>Blended T-Shirts</li>
    <li>Sport/Polo Shirts</li>
    <li>Fleeces</li>
    <li>Ladieswear</li>
    <li>Infantwear</li>
    <li>Shorts</li>
    <li>Outerwear</li>
    <li>Sweatshirts & Hoodies</li>
    <li>Long Sleeves</li>
    <li>Tie Dye</li>
    <li>Teamwear</li>
  </div>
</div>