<div class='hero-container'>
  <h2 class='hero-text'>Busy Hands Printing</h2>
</div>

<main class = "main-container">
  
  <div class= "flow-container">
    <div class = "flow">Use the site to help narrow down item, styles, or colors and contact us. </div>
    <div class = "flow">We will collaborate with you on development and design of your items.</div>
    <div class = "flow">Item will be printed and you can receive items via pickup or shipping.</div>
  </div>
  
<ul class='products'>
  <li>100% Tees</li>
  <li>Blended T-Shirts</li>
  <li>Sport/Polo Shirts</li>
  <li>Fleeces</li>
  <li>Ladieswear</li>
  <li>Tie Dye</li>
  <li>Infantwear</li>
  <li>Teamwear</li>
  <li>Shorts</li>
  <li>Outerwear</li>
  <li>Headwear</li>
  <li>Sweatshirts & Hoodies</li>
  <li>Bumper Stickers</li>
  <li>Decals/Windows Clings</li>
  <li>Keychains</li>
  <li>Lapel Pins</li>
  <li>Hats</li>
  <li>Mugs</li>
  <li>Name Badges</li>
  <li>Christmas Ornaments</li>
  <li>Jewelry</li>
  <li>Spirit Towels</li>
  <li>Water Bottles</li>
  <li>Buttons</li>
  <li>Luggage Tags</li>
  <li>Award Plaques</li>
  <li>Tote Bags</li>
</ul>

</main>
