<main class = "main-container">
  <p>We are a full service Screen Printer specializing in orders tailored to meet the needs of your group. We have very competitive prices. We can help you meet your advertising needs too!
  </p>
  
  <div class= "flow-container">
    <div class = "flow">Flow 1</div>
    <div class = "flow">Flow 2</div>
    <div class = "flow">Flow 3</div>
  </div>
  
<ul class='products'>
  <li>100% Tees</li>
  <li>Blended T-Shirts</li>
  <li>Sport/Polo Shirts</li>
  <li>Fleeces</li>
  <li>Ladieswear</li>
  <li>Tie Dye</li>
  <li>Infantwear</li>
  <li>Teamwear</li>
  <li>Shorts</li>
  <li>Outerwear</li>
  <li>Headwear</li>
  <li>Sweatshirts & Hoodies</li>
  <li>Bumper Stickers</li>
  <li>Decals/Windows Clings</li>
  <li>Keychains</li>
  <li>Lapel Pins</li>
  <li>Hats</li>
  <li>Mugs</li>
  <li>Name Badges</li>
  <li>Christmas Ornaments</li>
  <li>Jewelry</li>
  <li>Spirit Towels</li>
  <li>Water Bottles</li>
  <li>Buttons</li>
  <li>Luggage Tags</li>
  <li>Award Plaques</li>
  <li>Tote Bags</li>
</ul>

</main>
