
    
    <div class = "banner-image-container">
      <img class = "banner-image" src = "/img/italian-italy-t-shirts.jpg">
      <img class = "banner-image" src = "/img/screen-print.jpg">
      <img class = "banner-image" src = "/img/IMG_1972.jpg">
      <img class = "banner-image" src = "/img/100-2293a.jpg">
      <img class = "banner-image" src = "/img/100-3033.jpg">
      <img class = "banner-image" src = "/img/tie-dye.jpg">
    </div>
    <main class = "main-container">
      <p>We are a full service Screen Printer specializing in orders tailored to meet the needs of your group. We have very competitive prices. We can help you meet your advertising needs too!
      </p>
     
     <div class= "flow-container">
       <div class = "flow">Flow 1</div>
       <div class = "flow">Flow 2</div>
       <div class = "flow">Flow 3</div>
     </div>
    
    </main>
