<h2 class="subtitle pure-u-1">Styles</h2>
<div class="pure-u-1 pure-u-md-1-3 apparel-list">
  <h3>T-Shirts</h3>
  <ul>
    <li>Short Sleeve</li>
    <li>Tank top</li>
    <li>Pocket T</li>
    <li>Long Sleeve</li>
    <li>Sleeveless</li>
    <li>V-Neck</li>
    <li>Tie Dye</li>
  </ul>
</div>
<div class="pure-u-1 pure-u-md-1-3 apparel-list">
  <h3>Sport Shirts</h3>
  <ul>
    <li>Teamwear</li>
    <li>Short Sleeve Polo</li>
    <li>Pocket Polo</li>
  </ul>
    <h3>Misc. Apparel</h3>
  <ul>
    <li>Outerwear</li>
    <li>Infantwear</li>
    <li>Shorts</li>
    <li>Pants</li>
  </ul>
</div>
<div class="pure-u-1 pure-u-md-1-3 apparel-list">
  <h3>Sweatshirts</h3>
  <ul>
    <li>Crewneck</li>
    <li>Hooded</li>
    <li>Zipped Hoodie</li>
  </ul>
</div>