<h2 class="subtitle pure-u-1">Styles</h2>
<div class='styles-container'>
<div class="pure-u-1 pure-u-md-1-2 apparel-list">
  <div class="box-styles">
    <div class="style-text">
    <h3>T-Shirts</h3>
    <ul>
      <li>Short Sleeve</li>
      <li>Tank top</li>
      <li>Pocket T</li>
      <li>Long Sleeve</li>
      <li>Ladies Cut</li>
      <li>Sleeveless</li>
      <li>V-Neck</li>
      <li>Tie Dye</li>
    </ul>
    </div>
    <img class="style-img" src="img/styles/shirt.png">
  </div>
</div>
<div class="pure-u-1 pure-u-md-1-2 apparel-list">
  <div class="box-styles">
    <div class="style-text">
    <h3>Fleece</h3>
    <ul>
      <li>Crewneck</li>
      <li>Hooded</li>
      <li>Zipped Hoodie</li>
    </ul>
    </div>
    <img class="style-img" src="img/styles/sweatshirt.png">
  </div>
</div>
<div class="pure-u-1 pure-u-md-1-2 apparel-list">
  <div class="box-styles">
    <div class="style-text">
    <h3>Sport Shirts</h3>
    <ul>
      <li>Teamwear</li>
      <li>Short Sleeve Polo</li>
      <li>Pocket Polo</li>
    </ul>
    </div>
    <img class="style-img" src="img/styles/polo.png">
  </div>
</div>
<div class="pure-u-1 pure-u-md-1-2 apparel-list">
  <div class="box-styles">
    <div class="style-text">
    <h3>Misc. Apparel</h3>
    <ul>
      <li>Outerwear</li>
      <li>Infantwear</li>
      <li>Shorts</li>
      <li>Pants</li>
      <li>Aprons</li>
    </ul>
    </div>
  <img class="style-img" src="img/styles/infantwear.png">
  </div>
</div>
</div>