body, html{
  height:100%;
}
#page-wrap{
  min-height: 100%;
  margin-bottom:-94px;
}
#page-wrap:after {
  content: "";
  display: block;
}
#social-nav, #page-wrap:after {
  height: 94px; 
}
.apparel-selection, #colorSwatchGrid, .styles-container, .pricing-container{
  display:none;
}

.apparel-selector-container{
  text-align: center;
}
.apparel-selector{
  font-size: 1.5em;
  text-align: center;
  color: $primary-blue;
  border: 2px solid $primary-blue;
  padding:0.5em;
  width: 250px;
  margin:0;
}
.apparel-selector:hover,
.apparel-selector:active{
  color:#fff;
}
.apparel-selector:after{
  background: $primary-blue;
}
.apparel-selection-description,
.color-description{
  padding:2em;
}
.color-description{
  padding-top:0.2em;
}
#colorSwatchItem{
  text-align: center;
  margin:0 auto;
}
#colorSwatchImg > img {
  max-width: 175px;
}
.quote{
  text-decoration: underline;
  color: $primary-orange;
}
#social-nav{
  width:100%;
  height:94px;
}

//styles view

.box-styles{
  position: relative;
  background-color: #fff;
  margin:1em;
  padding:1em;
  padding-top:0.1em;
  min-height:275px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.apparel-list{
  background-color: lighten($color: $primary-blue, $amount: 35%);
}
.style-img{
  position: absolute;
  right:0;
  top:0;
  max-height:250px;
  z-index: 1;
  padding:0.5em;
}
.style-text h3, li{
  z-index: 5;
  position: relative;
}
@media screen and (max-width: 768px) {

  .apparel-selector{
    font-size: 1.5em;
    width:95%;
    margin-top:0.1em;
    margin-bottom:0.1em;
    padding:0.2em;
    margin:0;
    margin-bottom:0.2em;
  }
  .apparel-selection-description{
    text-align:left;
  }

}

//pricing view
.pricing-container{
  padding:2em;
}