.hero-container{
  height: 400px;
  background-image: linear-gradient(rgba($color: black, $alpha: 0.6),rgba($color: black, $alpha: 0.6) ),
  url('../img/screen-print-opt.jpg');
  background-size: cover;
}
.logo{
  max-width: 50px;
}
.hero-title, .hero-description{
  text-align: center;
  color:white;
  margin: 0em;
}
.hero-title{
  padding-top: 1.8em;
  padding-bottom:0.2em;
  margin: 0;
  font-size: 4em;
font-family: 'Fredericka the Great', cursive;
}
.hero-description{
  font-size: 1.5em;
}
//three image flow chart
.flow-container{
  padding-top: 2em;
  padding-bottom: 2em;
  color: black;
}
.flow{
 padding:2em; 
}
.flow i{
  text-align: center;
  font-size: 3em;
  width: 100%;
}
.products{
  background-color: lightblue;
  text-align: center;
  padding-bottom: 4em;
  padding-top:1em;
}
.product-list{
  padding-left:6em;
  text-align: left;
  list-style: none;
}