.hero-container{
  height: 425px;
  background-image: linear-gradient(rgba($color: black, $alpha: 0.6),rgba($color: black, $alpha: 0.6) ),
  url('../img/screen-print-opt.jpg');
  background-size: cover;
  visibility: hidden;
}
.logo{
  max-width: 50px;
}
.hero-title, .hero-description{
  text-align: center;
  color:white;
  margin: 0em;
}
.hero-title{
  padding-top: 1.7em;
  padding-bottom:0.5em;
  margin: 0;
  font-size: 4em;
  font-family: 'Fredericka the Great', cursive;
}
.hero-description{
  font-size: 1.5em;
}
.hero-contact{
  color: whitesmoke;
}
.hero-contact:hover{
  color: $primary-orange;
}
//telephone number
.tel,.tel:visited { 
  /*for small screens */ 
  display:inline-block; 
  color:#fff; 
  text-decoration:none; 
  } 
.tel:hover{
  color:white;
}
  @media screen and (min-width: 28.5em) { 
    /* for larger screens */ 
    .tel,.tel:visited { 
      background:none; 
      cursor:default; 
      } 
    .tel,.tel:focus { 
      color:#FFF; 
    } 
  }

//three image flow chart
.flow-container{
  background: url('../img/bg.png');
  padding-top: 2em;
  padding-bottom: 2em;
  color: black;
}
.flow{
 padding:2em; 
}
.flow i{
  text-align: center;
  font-size: 3em;
  width: 100%;
}
.products-container{
  // border-top: solid 1px #B8C4CC;
  // border-bottom: solid 1px #B8C4CC;
  text-align: center;
  padding-bottom: 4em;
  padding-top:1em;
}
.product-list{
  padding-left:6em;
  text-align: left;
  list-style: none;
}
.about-container{
  background: url('../img/bg.png');
  padding-top:2em;
  padding-bottom:4em;
  padding-left: 4em;
  padding-right:4em; 
}
.subtitle{
  text-align: center;
}

@media screen and (max-width: 650px) {
    .hero-title{
      font-size: 3em;
    }
    .hero-description{
      font-size: 1.2em;
      line-height: 1.5;
    }
    .tel{
      text-decoration: underline;
    }
}