@import 'reset';
@import 'goldenrule';
@import "bower_components/pure/pure-min";
@import "bower_components/pure/grids-responsive-min";
@import "bower_components/pure/buttons-min";
@import 'styles-menu';
@import 'home';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-g [class*="pure-u"]{
  font-family: 'Century Gothic', sans-serif;
}
body, p, h1, h2, li{
  font-family: 'Century Gothic', sans-serif;
}
.fa-bars {
  display:none;
  position: absolute;
  top:0;
  left:0;
  padding: 1em;
}
// image carousel
.banner-image-container {
  padding: 0em;
}
.banner-image{
  // background-size: cover;
  width: 100%;
  padding: 1.5em;
  min-height: 200px;
}
.slick-prev:before, .slick-next:before { 
    color:black;
    font-size: 30px;
}
.slick-prev{
  left:0px;
}
.slick-next{
  right: 10px;
}
.slick-dots{
  bottom:-30px;
}
.main-container {
  padding: 2em;
}

