@import 'reset';
@import 'goldenrule';
@import 'colors-mixins';
@import "bower_components/pure/pure-min";
@import "bower_components/pure/grids-responsive-min";
// @import "bower_components/pure/buttons-min";
@import "bower_components/creative-buttons/css/default";
@import "bower_components/creative-buttons/css/component";
@import 'styles-menu';
@import 'home';
@import 'sublimation';
@import 'apparel';
@import 'contact';
@import 'jqcloud';



* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.pure-g [class*="pure-u"]{
  font-family: 'Century Gothic', sans-serif;
}
body, p, h1, h2, li{
  font-family: 'Century Gothic', sans-serif;
}
body{
  color:black;
}
.text-left{
  text-align: left !important;
}
//force banner-image-container to wait until all items load, JS then reveals content
.banner-image-container{
  visibility: hidden;
}
h3{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p{
  margin-bottom: 0.5em;
}
a{
  color:$primary-blue;
}
.main-content{
  padding-top:3em;
}

.subtitle{
  text-align: center;
  margin-top:0.5em;
  margin-bottom:0.5em;
}
// .subtitle-container{
//   // border-radius:0.8em;
//   margin:0 auto;
//   position: relative;
//   z-index: 5;
//   max-width:50%;
//   margin-bottom: -3.1em;
//   background-color: white; 
//   box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
// }
@media screen and (max-width: 650px) {
  .subtitle-container{
    max-width:95%;
  }
  // .subtitle{ 
  // font-size:2.5em;
  // }
}

.fa-bars {
  display:none;
  position: absolute;
  top:0;
  left:0;
  padding: 1em;
}

// image carousel
.banner-image-container {
  padding: 0em;
  min-height: 261px;
}
.banner-image{
  // background-size: cover;
  width: 100%;
  padding: 1.5em;
  min-height: 200px;
}
.slick-prev:before, .slick-next:before { 
  color:black;
  font-size: 30px;
}
.slick-prev{
  left:0px;
}
.slick-next{
  right: 10px;
}
.slick-dots{
  bottom:-30px;
}
.price-list{
  text-align: center;
  padding: 2em;
}
.price-list-title{
 font-size: 20px;
 font-weight: bold;
}
